/*Gif source: https://gfycat.com/imaginativenaiveirishdraughthorse*/
* {
  margin: 0;
  padding: 0;
  font-family: "Press Start 2P", cursive;
}
:root {
  --white: #f5f5f5;
  --red: #f05454;
  --blue: #30475e;
  --black: #1f1f1fdf;
  --wavy: linear-gradient(#ffd319, #ff901f, #ff2975, #f222ff, #8c1eff);
}
html {
  /* Need position and min-height for the footer. */
  position: relative;
  min-height: 100%;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}
body {
  text-align: center;
  background: url("./images/bg.gif");
  background-size: cover;
  color: var(--white);
}
h1 {
  font-size: 40px;
  margin-top: 50px;
}
img {
  width: 50px;
}
#score--board {
  font-size: 25px;
  border: 10px solid rgb(87, 85, 85);
  border-style: ridge;
  display: flex;
  flex-flow: row nowrap;
  flex-basis: 15%;
  max-width: 20%;
  margin: 75px auto;
  padding: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  white-space: nowrap;
}
.midscreen--wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 30px;
}
.player--panel__wrapper--container {
  flex-direction: column;
  gap: 50px;
}
.player--panel__wrapper {
  display: flex;
  justify-content: center;
}
.heart--wrapper {
  display: flex;
  flex-direction: column;
  align-self: center;
}
.player--button__panel {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}
.interactive--display {
  display: flex;
  flex-direction: column;
  justify-content: center;
  white-space: pre-line;
}
.footer {
  position: absolute;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 100%;
  padding-bottom: 10px;
}
/* Global properties */
.textcolor {
  background-image: var(--wavy);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.invisible--button {
  background-color: transparent;
  border: none;
}
/* Local properties & modifying state*/
.intro--item {
  width: 100px;
  height: 50px;
  position: relative;
  top: 0%;
  transition: top ease-in-out 0.5s;
  -webkit-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
}
.interactive--message {
  font-size: 25px;
}
.player--description {
  font-size: 20px;
  margin: 10px;
}
.pressed {
  animation: press 1s;
}
@keyframes press {
  100% {
    background-color: var(--red);
    boxshadow: 0 5px #666;
    transform: translateY(4px) 1s;
  }
}
.action--button {
  align-self: center;
  border-style: ridge;
  border: 5px solid grey;
  background-color: #fec942;
  box-shadow: 0 9px #999;
  cursor: pointer;
}
.action--button:hover {
  background-color: var(--red);
}
.action--button:active {
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
.idle {
  align-self: center;
  border-style: ridge;
  border: 5px solid grey;
  background-color: #fec942;
  box-shadow: 0 9px #999;
  cursor: pointer;
}
.on--click {
  background-color: var(--red);
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
.choice--button {
  width: 75px;
  margin-bottom: 10px;
}
.coin {
  -webkit-animation: spin 2s linear infinite;
  -moz-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
  height: 100px;
  width: auto;
}
@-moz-keyframes spin {
  100% {
    -moz-transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
