* {
  margin: 0;
  padding: 0;
  font-family: "Press Start 2P", cursive;
}

:root {
  --white: #f5f5f5;
  --red: #f05454;
  --blue: #30475e;
  --black: #1f1f1fdf;
}
.red--text {
  color: var(--red);
}
.blue--text {
  color: var(--blue);
}
.white--text {
  color: var(--white);
}
body {
  text-align: center;
  /*background-color: var(--black);*/
  /*background: linear-gradient(#0C0828, #362182);*/
  background: url('./images/bg.gif');
  background-size: cover;
  color: whitesmoke;
}

h1 {
  font-size: 40px;
  margin-top: 50px;
}
#score--board {
  font-size: 25px;
  border: 5px solid rgb(87, 85, 85);
  border-style: ridge;
  width: 15%;
  margin: 75px auto;
  padding: 20px;
  color: gold;
  display: flex;
  flex-direction: row;
  justify-content: center;
  white-space: nowrap;
}
#life--bar {
  display: flex;
  flex-direction: column;
}
#battlefield {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 100px;
}
.player--panel {
  border: 5px solid rgb(87, 85, 85);
  border-style: ridge;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}
.choice--button {
  width: 75px;
  margin: 10px 0;
}
.action--button {
  align-self: center;
  border-style: ridge;
  border: 5px solid grey;
  background-color: gold;
  box-shadow: 0 9px #999;
}
.disappear {
  width: 100px;
  height: 50px;
  position: relative;
  top: 0%;
  transition: ease-in-out 0.5s;
  -webkit-transition-timing-function: ease-in-out;
  transition-timing-function: ease-in-out;
}
.pressed {
  animation: press 0.3s;
}
@keyframes press {
  100% {
    background-color: var(--red);
    boxshadow: 0 5px #666;
    transform: translateY(4px) 0.3s;
  }
}
.coin {
  -webkit-animation: spin 2s linear infinite;
  -moz-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
  height: 100px;
  width: auto;
}
@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }
.action--button:active {
  background-color: var(--red);
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
.player--panel__wrapper {
  display: flex;
  justify-content: center;
}
#life--bar {
  align-self: center;
}
#human {
  margin-right: auto;
  border-color: var(--blue);
}
#computer {
  margin-left: auto;
  border-color: var(--red);
}
.invisible {
  background-color: transparent;
  border: none;
}

.arena {
  display: flex;
  flex-direction: column;
  justify-content: center;
  white-space: pre-line;
}
.glowing {
  animation: glow 1s;
}
@keyframes glow {
  0% {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-radius: 90%;
  }
  20% {
    -moz-box-shadow: 0 0 5px 5px rgb(221, 25, 25);
    -webkit-box-shadow: 0 0 5px 5px rgb(221, 25, 25);
    box-shadow: 5px 0px 20px 5px rgb(221, 25, 25);
    padding: 5px;
    border-radius: 80%;
  }
  100% {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-radius: 90%;
  }
}
img {
  width: 50px;
}
